appdirs==1.4.3
certifi==2019.11.28
Cython==0.29.15
Django==3.0.7
docutils==0.16
packaging==20.3
pipenv==2018.11.26
psutil==5.7.0
pyowm==2.10.0
Pygments==2.6.1
pyparsing==2.4.6
pyTelegramBotAPI==3.6.7
python-telegram-bot==12.4.2
requests==2.23.0
six==1.14.0
virtualenv==20.0.13
virtualenv-clone==0.5.3